
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

@*
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">update category</h4>

                <form method="post" action="test" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="name">name</label>
                        <input asp-for="name" class="form-control" placeholder="name">
                        <span class="text-danger" asp-validation-for="name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="desc">desc</label>
                        <input asp-for="desc" class="form-control" placeholder="desc">
                        <span class="text-danger" asp-validation-for="desc"></span>

                    </div>


                    <button asp-controller="category" asp-action="index" type="submit" class="btn btn-primary mr-2">submit</button>
                    <a asp-controlle="category" asp-action="index" class="btn btn-light">cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>


<partial name="_validatio*@npartial"></partial>