@model  Product
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}
<div class="d-flex">

    @foreach (var item in Model.ProductImages)
    {
        <div>
            <img class="mr-3" height="100" width="100" src="~/img/@item.ImageUrl" />
            <a asp-controller="Product" asp-action="RemoveImage" asp-route-id="@item.Id" class=" d-block mt-3">X</a>

        </div>
    }

</div>

<div class="mt-5">

    <p>Product Name: @Model.Name</p>
    <p>Product Price: @Model.Price</p>
    <p>Product Count: @Model.Count</p>



</div>