
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Category</h4>

                <form method="post"  class="forms-sample" >
                    <div class="form-group">
                        <label >RoleName</label>
                        <input name="roleName" class="form-control" placeholder="Name">
                    </div>
                    
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-controller="role" asp-action="index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>


<partial name="_ValidationPartial"></partial>

